<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ssch.tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ssch.tools.Properties.Settings>
            <setting name="LastForm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocalDRPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="LocalDBScriptPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="Author" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastIncomingFolderPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastIncomingFolderPathSA" serializeAs="String">
                <value/>
            </setting>
        </ssch.tools.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
