.PollControl {
	box-shadow: $box-shadow;
	padding-bottom: .5rem;
	
    .ErrorMessage {
        color: $error-color;
        display: block;
        padding: 0 0 10px;
    }

	.PollQuestion {
	    font-size: .9em;
	    line-height: 1.2;
	    display: block;
	    text-align: center;
	    padding: .5rem;
	    background: $brand-secondary;
	    text-transform: uppercase;
	    color: white;
	    font-weight: 700;
	}
	
	.PollAnswers {
		padding: .5rem;
		
		table {
			margin: 0;
		}
		
		.PollAnswer {
			padding-bottom: .25rem;
			
			input {
				display: inline-block;
				margin: 0 .5rem 0 0;
				position: relative;
				top: -1px;
			}

			label,
			.PollAnswerText,
			.PollCount {
				
				@media (min-width: 1024px) {
					font-size: .85rem;
				}
				
			}
						
			label {
				display: inline;
				margin-right: 0;
				top: 0;
			}
		}
			
		.PollGraph {
			height: 4px;
			
			> div {
				background: $brand-secondary;
				height: 4px;
			}
			
		}
		
	}
	
	.PollResult {
		display: block;
		text-align: center;
		font-weight: 700;
	}
	
	.PollFooter {
		text-align: center;
	}
}
