.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-aign: left;
}

.video-wrapper { 
	position: relative;
	height: 0;
	//padding-bottom: 56.25%; /* 16:9 */
	padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.photo-left {
	display: block;
	margin: 0 auto .5rem;
	
	@media (min-width: 600px) {
		float: left;
		margin: 0 1rem .5rem 0;
	}
}

.photo-right {
	display: block;
	margin: 0 auto .5rem;
	
	@media (min-width: 600px) {
		float: right;
		margin: 0 0 .5rem 1rem;
	}
}

//spacing helpers

//extra small .25rem
.m-xs {
	margin: .25rem;
}

.m-t-xs {
	margin-top: .25rem;
}

.m-r-xs {
	margin-right: .25rem;
}

.m-b-xs {
	margin-bottom: .25rem;
}

.m-l-xs {
	margin-left: .25rem;
}

.m-v-xs {
	margin: .25rem 0;
}

.m-h-xs {
	margin: 0 .25rem;
}

//small .5rem
.m-s {
	margin: .5rem;
}

.m-t-s {
	margin-top: .5rem;
}

.m-r-s {
	margin-right: .5rem;
}

.m-b-s {
	margin-bottom: .5rem;
}

.m-l-s {
	margin-left: .5rem;
}

.m-v-s {
	margin: .5rem 0;
}

.m-h-s {
	margin: 0 .5rem;
}

// 1rem
.m-1 {
	margin: 1rem;
}

.m-t-1 {
	margin-top: 1rem;
}

.m-r-1 {
	margin-right: 1rem;
}

.m-b-1 {
	margin-bottom: 1rem;
}

.m-l-1 {
	margin-left: 1rem;
}

.m-v-1 {
	margin: 1rem 0;
}

.m-h-1 {
	margin: 0 1rem;
}

// 2rems
m-2 {
	margin: 2rem;
}

.m-t-2 {
	margin-top: 2rem;
}

.m-r-2 {
	margin-right: 2rem;
}

.m-b-2 {
	margin-bottom: 2rem;
}

.m-l-2 {
	margin-left: 2rem;
}

.m-v-2 {
	margin: 2rem 0;
}

.m-h-2 {
	margin: 0 2rem;
}

//padding: extra small .25rem
p-xs {
	padding: .25rem;
}

.p-t-xs {
	padding-top: .25rem;
}

.p-r-xs {
	padding-right: .25rem;
}

.p-b-xs {
	padding-bottom: .25rem;
}

.p-l-xs {
	padding-left: .251rem;
}

.p-v-xs {
	padding: .25rem 0;
}

.p-h-xs {
	padding: 0 .25rem;
}

//padding: small .5rem
p-s {
	padding: .5rem;
}

.p-t-s {
	padding-top: .5rem;
}

.p-r-s {
	padding-right: .5rem;
}

.p-b-s {
	padding-bottom: .5rem;
}

.p-l-s {
	padding-left: .5rem;
}

.p-v-s {
	padding: 1rem .5;
}

.p-h-s {
	padding: 0 .5rem;
}

//padding: 1rem
.p-1 {
	padding: 1rem;
}

.p-t-1 {
	padding-top: 1rem;
}

.p-r-1 {
	padding-right: 1rem;
}

.p-b-1 {
	padding-bottom: 1rem;
}

.p-l-1 {
	padding-left: 1rem;
}

.p-v-1 {
	padding: 1rem 0;
}

.p-h-1 {
	padding: 0 1rem;
}

//padding: 2rem
p-2 {
	padding: 2rem;
}

.p-t-2 {
	padding-top: 2rem;
}

.p-r-2 {
	padding-right: 2rem;
}

.p-b-2 {
	padding-bottom: 2rem;
}

.p-l-2 {
	padding-left: 2rem;
}

.p-v-2 {
	padding: 2rem 0;
}

.p-h-2 {
	padding: 0 2rem;
}