<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CMSTestRestrictedCategories" value="" />
    <add key="CMSLimitAssemblyDiscovery" value="true" />
    <add key="CMSTestMacroEvaluationTimeout" value="20000" />
  </appSettings>
  <connectionStrings configSource="ConnectionStrings.config" />
</configuration>