<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PaymentProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Production Connection strings-->
    <add key="connstring" value="Data Source=STARLORD;Initial Catalog=AS12_DP;Integrated Security=False;User ID=sa;Password=FrodoFrodo!!;Connect Timeout=180" />
    <add key="DPC_connstring" value="Data Source=STARLORD;Initial Catalog=AS12_DP;Integrated Security=False;User ID=sa;Password=FrodoFrodo!!;Connect Timeout=180" />

    <!-- Dev connection string-->
    <!--<add key="connstring" value="Data Source=10.100.1.109;Initial Catalog=AS11_StockWhisper;Integrated Security=False;User ID=sa;Password=FrodoFrodo!!;Connect Timeout=180" />-->
    <!--<add key="DPC_connstring" value="Data Source=10.100.1.109;Initial Catalog=AS11_Agile11;Integrated Security=False;User ID=sa;Password=FrodoFrodo!!;Connect Timeout=180" />-->

    <!-- Global options -->
    <add key="LogFolder" value="logs/" />
    <add key="LogFileName" value="errorlog.log" />
    <add key="MaxRetry" value="5" />
    <add key="SleepBeforeRetryMS" value="100" />
    <add key="LogPayment" value="true" />
    <add key="doRedirect" value="true" />

    <!-- TSW settings -->

    <add key="formaction" value="https://secure.authorize.net/gateway/transact.dll" />
    <!--<add key="formaction" value="https://test.authorize.net/gateway/transact.dll" />-->

    <add key="FF_SiteId" value="6" />
    <add key="SW_SiteId" value="5" />
    <add key="SW_EmailTemplateID" value="1180" />
    <add key="SW_EmailFrom" value="stefanie@thestockwhisperer.com" />
    <add key="SW_EmailTo" value="eric@wte.net;patti@wte.net;stefanie@thestockwhisperer.com;" />

    <!-- DPC settings -->
    <add key="DPC_SiteId" value="3" />
    <!-- default redirect -->
    <add key="redirectUrl" value="/Intranet/chat-room" />
    <add key="redirectUrl_3" value="/Intranet/chat-room" />

    <!-- default subcription name/description -->
    <add key="dpcSubscriptionName" value ="New subscription TRAININGPT" />
    <add key="dpcSubscriptionName_3" value ="New subscription DPCINSIGHTS" />

    <!-- auth.net credential overrides -->
    <!--<add key="recurrStartDate" value="8/5/2019" />-->
    <!--<add key="authnetLogin" value="96B3Rvj2eR" />-->
    <!--<add key="authnetTransactionKey" value="693FKej27ruyZ4bw" />-->
  </appSettings>
  <connectionStrings />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging
            symbols into the compiled page. Because this
            affects performance, set this value to true only
            during development.
        -->
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <!--
            The <authentication> section enables configuration
            of the security authentication mode used by
            ASP.NET to identify an incoming user.
        -->
    <!--<authentication mode="Windows" />-->
    <!--
            The <customErrors> section enables configuration
            of what to do if/when an unhandled error occurs
            during the execution of a request. Specifically,
            it enables developers to configure html error pages
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" defaultRedirect="/ExcellaLite/error.htm" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <applicationSettings>
    <PaymentProcessor.Properties.Settings>
      <setting name="PaymentProcessor_net_authorize_apitest_Service" serializeAs="String">
        <!--<value>https://apitest.authorize.net/soap/v1/Service.asmx</value>-->
        <value>https://api2.authorize.net/soap/v1/Service.asmx</value>
        <!--<value>https://developer.authorize.net/tools/paramdump/index.php</value> -->
      </setting>
    </PaymentProcessor.Properties.Settings>
  </applicationSettings>
</configuration>