<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- Content staging BEGIN -->
		<section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<!-- Content staging END -->
		<!-- AjaxControlToolkit BEGIN -->
		<section name="ajaxControlToolkit" type="AjaxControlToolkit.AjaxControlToolkitConfigSection, AjaxControlToolkit" requirePermission="false" />
		<!-- AjaxControlToolkit END -->
		<sectionGroup name="telerik.web.ui">
			<section name="radCloudUpload" type="Telerik.Web.UI.CloudUploadConfigurationSection" allowDefinition="MachineToApplication" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="CMSProgrammingLanguage" value="C#" />
		<add key="WS.webservice" value="http://localhost/WebService/webservice.asmx" />
		<add key="CMSTrialKey" value="" />
		<add key="ChartImageHandler" value="storage=session;timeout=20;" />
		<add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

		<add key="CMSApplicationGuid" value="3540fe09-2439-4b22-b1a9-f51a2b20dd35" />
		<!-- Note: Changing the 'CMSHashStringSalt' value may prevent macros from resolving correctly, and break dialog links and images on your website.-->
		<!--To fix these issues, you need to globally re-sign macros in 'System -> Macros -> Signatures' or manually re-save the affected content. -->
		<!-- <add key="CMSHashStringSalt" value="176cf8b9-2247-41fa-ae40-244898204047" /> -->\
		<!-- rideology hashsalt -->
		<!-- <add key="CMSHashStringSalt" value="37e84b80-e4a3-4363-a528-46e35abf083b" /> -->
		<!-- kofnc, as12 production1, mindpath, slipcash hashsalt -->
		<add key="CMSHashStringSalt" value="176cf8b9-2247-41fa-ae40-244898204047" />
		<add key="CMSEnableCsrfProtection" value="false" />
		
		<add key="Telerik.Web.UI.RenderMode" value="lightweight" />
		<add key="Telerik.Skin" value="Bootstrap" />
		<add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
		<add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
	</appSettings>
	<connectionStrings>
		<clear />
		<!--<add name="CMSConnectionString" connectionString="Data Source=THOR;Initial Catalog=AS12_Production_1;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=FrodoFrodo!!;Connect Timeout=60;Encrypt=False;Current Language=English;" />-->
		<!--<add name="CMSConnectionString" connectionString="Data Source=10.100.1.92;Initial Catalog=AS12_Production_Ride;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=FrodoFrodo!!;Connect Timeout=60;Encrypt=False;Current Language=English;" />-->
		<!--<add name="CMSConnectionString" connectionString="Data Source=THOR;Initial Catalog=AS12_Production_KofcNC;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=FrodoFrodo!!;Connect Timeout=60;Encrypt=False;Current Language=English;" />-->
		<add name="CMSConnectionString" connectionString="Data Source=10.100.1.92;Initial Catalog=AS12_Production_SlipCash;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=FrodoFrodo!!;Connect Timeout=60;Encrypt=False;Current Language=English;" />
		<!--<add name="CMSConnectionString" connectionString="Data Source=APOLLO11;Initial Catalog=AS12_Production_SlipCash;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=frodo;Connect Timeout=60;Encrypt=False;Current Language=English;" />-->
	</connectionStrings>
	<system.web>
		<pages validateRequest="false" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
				<add tagPrefix="cms" namespace="CMS.PortalEngine.Web.UI" assembly="CMS.PortalEngine.Web.UI" />
				<add tagPrefix="cms" namespace="CMS.DocumentEngine.Web.UI" assembly="CMS.DocumentEngine.Web.UI" />
				<add tagPrefix="cms" namespace="CMS.UIControls" assembly="CMS.UIControls" />
				<add tagPrefix="cms" namespace="CMS.FormEngine" assembly="CMS.FormEngine" />
				<add tagPrefix="cms" namespace="CMS.FormEngine.Web.UI" assembly="CMS.FormEngine.Web.UI" />
				<add tagPrefix="cms" namespace="CMS.OnlineForms.Web.UI" assembly="CMS.OnlineForms.Web.UI" />
				<add tagPrefix="cms" namespace="CMS.Base.Web.UI" assembly="CMS.Base.Web.UI" />
				<add tagPrefix="cms" namespace="CMS.TranslationServices.Web.UI" assembly="CMS.TranslationServices.Web.UI" />
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
			</controls>
			<namespaces>
				<add namespace="CMS.Helpers" />
				<add namespace="CMS.Base.Web.UI" />
			</namespaces>
		</pages>

		<customErrors mode="RemoteOnly">
			<error statusCode="500" redirect="~/CMSMessages/Error.aspx" />
		</customErrors>

		<authentication mode="Forms">
			<forms loginUrl="CMSPages/logon.aspx" defaultUrl="Default.aspx" name=".ASPXFORMSAUTH" timeout="60000" slidingExpiration="true" />
		</authentication>

		<httpRuntime waitChangeNotification="1" maxWaitChangeNotification="3600" requestValidationMode="2.0" maxUrlLength="1000" targetFramework="4.6.1" maxRequestLength="2097151" executionTimeout="110" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="en-US" />
		<membership defaultProvider="CMSProvider" userIsOnlineTimeWindow="30">
			<providers>
				<clear />
				<add name="CMSProvider" type="CMS.MembershipProvider.CMSMembershipProvider" connectionStringName="CMSConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" />
			</providers>
		</membership>
		<roleManager defaultProvider="CMSRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<clear />
				<add name="CMSRoleProvider" type="CMS.MembershipProvider.CMSRoleProvider" connectionStringName="CMSConnectionString" applicationName="SampleApplication" writeExceptionsToEventLog="false" />
			</providers>
		</roleManager>
		<xhtmlConformance mode="Strict" />
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
		<compilation debug="true" numRecompilesBeforeAppRestart="100" targetFramework="4.6.1">
			<assemblies>
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral,PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				<!-- uncomment these for live -->
				<add assembly="DocumentFormat.OpenXml, Version=2.7.2.0, Culture=neutral, PublicKeyToken=8fb06cb64d019a17, processorArchitecture=MSIL" />
				<!--<add assembly="Telerik.Web.UI", Version=2022.1.119.45, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />-->
				<!--<add assembly="Telerik.Web.Design, Version=2022.1.119.45, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />-->
				<!--<add assembly="Telerik.Web.UI.Skins, Version=2022.1.119.45, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />-->
			</assemblies>
		</compilation>
		<httpCookies httpOnlyCookies="true" />
		<httpHandlers>
			<add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
			<add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
		</httpHandlers>
	</system.web>
	<!-- Windows authentication BEGIN -->
	<!--
  <location path="">
    <system.web>
        <authorization>
          <deny users="?" />
        </authorization>
    </system.web>
  </location>
  -->
	<!-- Windows authentication END -->
	<location path="cms">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<!-- WebDAV location BEGIN -->
	<location path="cms/files">
		<system.web>
			<httpRuntime executionTimeout="2400" maxRequestLength="2097151" />
		</system.web>
		<system.webServer>
			<handlers>
				<clear />
				<add name="CMSWebDAVHandler" path="*" verb="*" type="CMS.WebDAV.WebDAVHandler, CMS.WebDAV" />
			</handlers>
			<security>
				<requestFiltering>
					<requestLimits maxAllowedContentLength="2147483648" />
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
	<!-- WebDAV location END -->
	<!-- Content staging BEGIN -->
	<microsoft.web.services3>
		<security>
			<securityTokenManager>
				<add type="CMS.Synchronization.WSE3.WebServiceAuthorization" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" localName="UsernameToken" />
			</securityTokenManager>
			<x509 allowTestRoot="true" verifyTrust="true" />
		</security>
		<policy fileName="wse3policy.config" />
		<diagnostics>
			<trace enabled="false" input="InputTrace.webinfo" output="OutputTrace.webinfo" />
		</diagnostics>
	</microsoft.web.services3>
	<!-- Content staging END -->
	<!-- AjaxControlToolkit BEGIN -->
	<ajaxControlToolkit renderStyleLinks="false" />
	<!-- AjaxControlToolkit END -->
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule" />
			<remove name="XHtmlModule" />
			<remove name="CMSApplicationModule" />
			<add name="XHtmlModule" type="CMS.OutputFilter.OutputFilterModule, CMS.OutputFilter" />
			<add name="CMSApplicationModule" preCondition="managedHandler" type="CMS.Base.ApplicationModule, CMS.Base" />
		</modules>
		<handlers>
			<remove name="WebDAV" />
			<remove name="CMSGetAttachment" />
			<remove name="CMSGetMedia" />
			<remove name="CMSGetMetafile" />
			<remove name="CMSGetFile" />
			<remove name="CMSGetAvatar" />
			<remove name="ChartImageHandler" />

			<remove name="ChartImage_axd" />
			<remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
			<remove name="Telerik_Web_UI_DialogHandler_aspx" />
			<remove name="Telerik_RadUploadProgressHandler_ashx" />
			<remove name="Telerik_Web_UI_WebResource_axd" />
			<add name="CMSGetAttachment" path="getattachment/*/*" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="CMSGetMedia" path="getmedia/*/*" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="CMSGetMetafile" path="getmetafile/*/*" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="CMSGetFile" path="getfile/*/*" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="CMSGetAvatar" path="getavatar/*/*" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="ChartImageHandler" preCondition="integratedMode" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
			<add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
			<add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
			<add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
			<add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
			<add name="Telerik.ReportViewer.axd_*" path="Telerik.ReportViewer.axd" verb="*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=6.2.13.110, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" preCondition="integratedMode" />
		</handlers>
		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<remove fileExtension=".nupkg" />
			<mimeMap fileExtension=".nupkg" mimeType="application/zip, application/octet-stream" />
			<remove fileExtension=".webm" />
			<mimeMap fileExtension=".webm" mimeType="video/webm" />
			<remove fileExtension=".mp4" />
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
		</staticContent>
		<security>
			<requestFiltering>
				<!-- Disable direct access to these files which are used only internally by CMS application -->
				<denyUrlSequences>
					<add sequence="/CMSTemplates" />
					<add sequence="/CMSPages/PortalTemplate.aspx" />
				</denyUrlSequences>
				<requestLimits maxAllowedContentLength="2147482624" />
			</requestFiltering>
		</security>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<bindings>
			<basicHttpBinding>
				<!-- SalesForce BEGIN -->
				<binding name="SalesForceBinding" transferMode="Buffered" maxReceivedMessageSize="131072">
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<!-- SalesForce END -->
			</basicHttpBinding>
		</bindings>
		<client>
			<!-- SalesForce BEGIN -->
			<endpoint address="https://login.salesforce.com/services/Soap/u/23.0" binding="basicHttpBinding" bindingConfiguration="SalesForceBinding" contract="WebServiceClient.Soap" name="SalesForceClient" />
			<!-- SalesForce END -->
		</client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<telerik.web.ui>
		<radCloudUpload>
			<storageProviders>
				<add name="Amazon" type="Telerik.Web.UI.AmazonS3Provider" accessKey="AKIAJIVCQHJUZ75LCE3A" secretKey="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" bucketName="rideology" ensureContainer="true" uncommitedFilesExpirationPeriod="4" />
			</storageProviders>
		</radCloudUpload>
	</telerik.web.ui>
</configuration>