@using Kentico.Forms.Web.Mvc

@model CheckBoxComponent

@{
    var htmlAttributes = ViewData.GetEditorHtmlAttributes();
    var spanTitle = htmlAttributes.TryGetValue("title", out object title) ? title : String.Empty;
}

<span class="ktc-checkbox" title="@spanTitle">
    @Html.CheckBoxFor(m => m.Value, htmlAttributes)
    <label for="@Html.IdFor(x => x.Value)">@(String.IsNullOrWhiteSpace(Model.Properties.Text) ? Html.Raw("&nbsp;") : new HtmlString(Model.Properties.Text))</label>
</span>
